<div class="mod-author" data-aos="fade-left" data-aos-duration="800">
	<div class="row no-gutters">
		<div class="col-auto">
			<img class="profilepicture" src="{{ post.author.avatar }}">
		</div>
		<div class="col d-flex align-items-center">
			<div class="d-flex flex-column"> 
				<h5>{{ post.author.first_name }} {{ post.author.last_name }}</h5>
				<span class="desc"> {{ post.author.description }} </span>
			</div>
		</div>
	</div>
</div>