.image-container {
	position: relative;
	padding-bottom: 66%;
	margin-bottom: 30px;
	&.square {
		padding-bottom: 100%;
	}
	&.ratio-4-3 {
		padding-bottom: 75%;
	}
	&.ratio-16-9 {
		padding-bottom: 57%;
	}
	&.portrait {
		padding-bottom: 130%;
	}
	&.borderradius-16 .image {
		border-radius: 16px;
	}
	&.has-border {
		border: 1px solid rgba(#d8dce3, 0.5);
		border-radius: 8px;
	}
	&.has-img {
		padding: 0;
		.image {
			position: relative;
			z-index: 1;
		}
	}
	&.iconview {
		.thisicon {
			width: 80px;
	    height: 80px;
	    background-repeat: no-repeat;
	    background-size: contain;
	    position: absolute;
	    top: calc(50% - 40px);
	    left: calc(50% - 40px);
		}
	}
	&.bg-contain {
		.image {
			background-size: contain;
			background-repeat: no-repeat;
		}
	}
	.image {
		position:absolute;
		background-size: cover;
		background-position: center center;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;	
		z-index: 1;
		border-radius: 8px;
		overflow: hidden;
	}
	i {
		position: absolute;
		z-index: 2;
		color: #fff;
		font-size: 50px;
		text-align: center;
		top: 50%;
		left: 0;
		right: 0;
		transform: translateY(-50%);
		pointer-events: none;
	}
}

@include media-breakpoint-up(md) {
	.image-container {
		margin: 0;
	}
}