.popup-wrapper {
	opacity: 0;
  background: rgba(39, 47, 63, 0.56);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -2;
  transition: opacity 0.5s ease-in-out;
  &.show {
	  opacity: 1;
	  z-index: 9999;
  }
  .card {
	  background: #fff url(../images/bg-popup.svg);
	  background-size: contain;
	  background-position: center bottom;
	  background-repeat: no-repeat;
  }
  .js-closepopup {
    position: absolute;
    top: 10px;
    right: 20px;
    font-weight: 600;
    font-size: 16px;
    &:hover {
	    cursor: pointer;
    }
  }
  .kleine_tekst {
		font-size: 14px;
	  font-weight: 600;
	  font-stretch: normal;
	  font-style: normal;
	  line-height: normal;
	  letter-spacing: normal;
	  text-align: center;
	  color: #6e7f9d;
  }
}