
$berry-100: #f9e2e3;
$berry-200: #f6c8ca;
$berry-300: #ed262e;
$berry-400: #af0f16;
$emerald-100: #d1f1e0;
$emerald-200: #a3e3c2;
$emerald-300: #45d189;
$emerald-400: #115834;
$gold-100: #fcf3e0;
$gold-200: #f9e2ab;
$gold-300: #febb1b;
$gold-400: #eda801;
$indigo-100: #e3daf4;
$indigo-200: #b197e7;
$indigo-300: #652bd9;
$indigo-400: #320c7f;
$madison-100: #f5f7fc;
$madison-200: #c0cdfb;
$madison-300: #476fff;
$madison-400: #0f2461;
$peach-100: #fff4ed;
$peach-200: #ffcfaa;
$peach-300: #ed8531;
$peach-400: #ea6220;
$vulcan-100: #e1e2e3;
$vulcan-200: #999b9f;
$vulcan-300: #383c45;
$vulcan-400: #15171b;
$walhalla-100: #dadfe8;
$walhalla-200: #b6bdcb;
$walhalla-300: #6d819c;
$walhalla-400: #272f3f;


// Theme colors
$lightgrey: #E6E9EC;
$grey: #7C8A93;
$darkgrey: #343A46;
$darkblue: #000319;
$blue: #007BFB;
$nightblue: #24294B;
$red: #FF0000;